<h1>Events</h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
    <%= link_to @user.email, user_path(@user) %>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Log in", new_user_session_path %>
<% end %>
<% if @future_events.present? %>
    <% @future_events.each do |a| %>
        <h3>Future events: </h3>
        <%= link_to a.name, a %>
    <% end %>
<% end %>
<% if @past_events.present? %>
    <% @past_events.each do |a| %>
        <h3>Past events: </h3>
        <%= link_to a.name, a %>
    <% end %>
<% end %>
<% unless @events.present? %>
    <h3>No events exist at this time.</h3>
<% end %>